

@media screen and (min-width: 1000px) {
    .c1{
        float: left;
    }

    .c2{
        float: right;
        margin-right: 100px;
    }

    .c3{
        display: inline-block;
        width: 400px;
    }
}

