@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding-top: 20px ;
    max-width: 500px;
    margin: auto;
}

.c1{
    margin: auto;
    border: solid rgba(0, 0, 0, 0.342);
    width: 200px;
    height: 200px;
    background-color: skyblue;
}

.c2{
    margin: auto;
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    border: solid rgba(0, 0, 0, 0.342);
}

.c3{
    margin: auto;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 179);
    border: solid rgba(0, 0, 0, 0.342);
}